$color-primario: #e3cfa8;
$color-secundario: #fdebd0;
$color-sombra: #626567;
$color-texto: black;
$tipografia-general: "Roboto", sans-serif;
$tipografia-secundaria: "Raleway", sans-serif;
$tipografia-alternativa: "Montserrat", sans-serif;
